/*
Designer: Xatai
Site: Xpert.az
Facebook: https://fb.com/xetai.isayev
*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
html{height:100%;min-height:100%;}
body{min-height:100%; position:relative; min-width:310px;}
html,html a{-webkit-font-smoothing:antialiased}
body,select,input,textarea,button{font:normal 14px/1.5 'SFProDisplay', Arial, Helvetica, sans-serif; color:#000;outline:none}
a{outline:none;color:#000;text-decoration:none}
a img{border:0 none}
h1,h2,h3,h4,h5 {line-height:normal;font-weight:400;text-rendering:optimizeLegibility}
h1{font-size:23px}
h2{font-size:21px}
h3{font-size:20px}
h4{font-size:18px}
h5{font-size:16px}
strong,b{font-weight:700}
* {box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;}

.tr, .lg-input input {-webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease;}

@font-face {
    font-family: 'SFProDisplay';
    src: url('../fonts/subset-SFProDisplay-Regular.eot');
    src: url('../fonts/subset-SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/subset-SFProDisplay-Regular.woff2') format('woff2'),
    url('../fonts/subset-SFProDisplay-Regular.woff') format('woff'),
    url('../fonts/subset-SFProDisplay-Regular.ttf') format('truetype'),
    url('../fonts/subset-SFProDisplay-Regular.svg#SFProDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('../fonts/subset-SFProDisplay-Semibold.eot');
    src: url('../fonts/subset-SFProDisplay-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/subset-SFProDisplay-Semibold.woff2') format('woff2'),
    url('../fonts/subset-SFProDisplay-Semibold.woff') format('woff'),
    url('../fonts/subset-SFProDisplay-Semibold.ttf') format('truetype'),
    url('../fonts/subset-SFProDisplay-Semibold.svg#SFProDisplay-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('../fonts/subset-SFProDisplay-Bold.eot');
    src: url('../fonts/subset-SFProDisplay-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/subset-SFProDisplay-Bold.woff2') format('woff2'),
    url('../fonts/subset-SFProDisplay-Bold.woff') format('woff'),
    url('../fonts/subset-SFProDisplay-Bold.ttf') format('truetype'),
    url('../fonts/subset-SFProDisplay-Bold.svg#SFProDisplay-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


/* Struktur */
.centered {max-width:1200px; margin:0 auto; padding: 0 10px;}
.centered:after {display:block; content:""; clear:both;}


/* Login */
.lgn-a {}
.lgn-a:before {content:""; position:absolute; top:0; left:0; bottom:0; right:0; background-image: url(../images/bg.jpg); background-size:cover;}
.lgn-a:after {content:""; position:absolute; top:0; left:0; bottom:0; right:0; background-color: rgba(0,0,0, 0.65);}
.lgn {position:relative; z-index:10; padding: 0 30px 20px;}
.lgn .lgn-wrap {max-width:500px; background-color: #fff; padding: 120px 60px; border-radius: 0 0 60px 60px;}
.logo {margin-bottom:50px;}
.logo a {display:block; background-image: url(/theme/frontend/homdom/style/img/logo.svg?v=1); width:146px; height:36px; margin: 0 auto;}
.lg-t {text-align: center; margin-bottom: 40px; font-weight: bold; color: #5f5f5f; font-size: 32px; line-height: 38px;}
.lg-input {margin-bottom:20px;}
.lg-input input {display:block; width:100%; border:1px solid #DADDE5; border-radius:6px; font-size:16px; line-height:20px; padding: 14px 20px;}
.lg-button button {display:block; width:100%; border:1px solid #f85401; border-radius:6px; font-size:16px; line-height:20px; padding: 14px 20px; background-color:#f85401; color:#fff; font-weight:600; cursor:pointer}
.lg-input input:focus {border-color: #f85401}

@media only screen and (max-width:780px) {
    .lgn {padding: 0 0 20px;}
    .lgn .lgn-wrap {margin: 0 auto;}
}
@media only screen and (max-width:480px) {
    .lgn .lgn-wrap {padding: 80px 30px;}
}

/* Upload */
.upl-a {position:fixed; z-index:100; top:0; left:0; right:0; bottom:0; overflow:auto; background: linear-gradient(to bottom, #053777 0%, #00659b 100%);}
.upl-a .upl {display:table; width:100%; height:100%; table-layout:fixed;}
.upl-a .upl .upl-wrap {display:table-cell; vertical-align:middle; max-width:500px; padding: 20px 10px;}
.upl-wrap .upl-c {max-width:360px; margin:0 auto; text-align:center;}
.x-upload {margin-bottom:30px;}
.x-upload input[type="file"] {display:none;}
.x-upload label {font-size: 20px; font-weight: 600; text-overflow: ellipsis; white-space: nowrap; cursor: pointer; display: block; overflow: hidden; color: #fff; text-align:center;}
.inputfile + label figure {border-radius: 50%; background-color: #fff; display: block; padding: 26px; margin: 0 auto 10px; width:132px; height:132px;}
.inputfile + label * {pointer-events: none;}
.inputfile+ label svg {width:80px; height:80px; fill: #006097; display:block;}
.upl-c .lg-button button {background: rgba(255, 255, 255, 0.8); color: #053777; border:0;}












